@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
.header{
    background-color: #161616;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 70px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    animation: color 9s infinite linear;
}
.heading{
    width: 45vw;
    text-align: center;
}
.heading h1{
    font-size: 70px;
}
.watch-live-btn{
    background-color: #e71e1e;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-bottom: 40px;
    animation: color 9s infinite linear;
}
.banner-img img{
    width: 50vw;
    height: auto;

    
}
.main-body{
    display: flex;
    margin: 30px 70px;
    margin-top: 100px;
}
.navigation{
    width: 300px;
    height: 200px;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
    margin-right: 20px;
   
}
.nav-btn{
background-color: white;
border: 1px solid gray;
padding: 10px 20px;
margin: 10px 20px;
border-radius: 10px;
}
.nav-blog{
    background-color: #e71e1e;
    color: white;
}
.blogs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.blogs-container img{
    width: 280px;
    height: 175px;
}
.blogs{
    border: .2px solid rgb(241, 240, 240);
    border-radius: 10px;
}
.blogs button{
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 3px;
    height: 30px;
    width: 80px;
}
.blogs h4{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.icon{
    display: flex;
}
.icon img{
    width: 18px;
    height: 18px;
    margin-left: 15px;
}
.icon p{
    margin-top: 5px;
}
.footer{
background-color: #161616;
color: white;
height: 350px;
margin-top: 100px;
margin-left: 0px;
margin-right: 0px;
}
.footer h1{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 80px;
}
.footer hr{
    border: .2px solid rgb(50, 46, 46);
    margin-left: 80px;
    margin-right: 80px;
}
.nav-footer{
    display: flex;
    font-size: small;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
   margin-top: 30px;
}
.social-media-icon{
    display: flex;
    justify-content: center;
}
.social-media-icon a{
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (max-width: 576px){
      .header{
        display: flex;
        flex-direction: column;
        margin: auto;
      }
      .heading h1{
        font-size: 22px;
      }
      .heading p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
      } 
      .main-body{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
      }
      .navigation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        width: auto;
        height: auto;
        width: 75vw;
        text-align: center;
        margin-left: 40px;

      }
      .blogs-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .groups-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .groups{
       align-items: center;
      }

}
@media only screen and (min-width: 577px) and (max-width: 992px){
    .main-body{
        display: flex;
        flex-direction: column;
    } 
    .heading h1{
        font-size: 22px;
        margin-top: 50px;
    }
    .navigation{
        background-color: transparent;
        display: flex;
        justify-content: space-evenly;
        width: auto;
        height: auto;
    }
    .nav-btn{
        width: 140px;
        margin-bottom: 30px;
    }
    .blogs-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-footer{
        flex-wrap: wrap;
        font-size: 1.5em;
    }
    .footer{
        height: auto;
    }
    .groups-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .groups{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
.match{
    border: .2px solid rgb(31, 29, 29);
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
}
.next-match{
    display: flex;
    justify-content: center;
    width: 280px;
}
.next-match img{
    width: 93px;
    height: 56px;
}
.next-match p{
    margin-left: 10px;
    margin-right: 10px;
}
.groups-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    
}
.all-groups{
    border: .2px solid rgb(22, 21, 21);
    border-radius: 5px;
    padding-bottom: 10px;
   
}
.all-groups h2{
   margin-top: auto;
   text-align: center;
}

.groups{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    

}
.flag{
    width: 80px;
    height: 50px;
}