.header{
    background-color: #161616;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 70px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
.heading h1{
    font-size: 50px;
}
.watch-live-btn{
    background-color: #e71e1e;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-bottom: 40px;
}
.banner-img img{
    height: 450px;
}
.main-body{
    display: flex;
    margin: 30px 70px;
    margin-top: 100px;
}
.navigation{
    width: 300px;
    height: 200px;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
    margin-right: 20px;
   
}
.nav-btn{
background-color: white;
border: 1px solid gray;
padding: 10px 20px;
margin: 10px 20px;
border-radius: 10px;
}
.nav-blog{
    background-color: #e71e1e;
    color: white;
}
.blogs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.blogs-container img{
    width: 280px;
    height: 175px;
}
.blogs{
    border: .2px solid rgb(241, 240, 240);
    border-radius: 10px;
}
.blogs button{
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 3px;
    height: 30px;
    width: 80px;
}
.blogs h4{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.icon{
    display: flex;
}
.icon img{
    width: 18px;
    height: 18px;
    margin-left: 15px;
}
.icon p{
    margin-top: 5px;
}
.footer{
background-color: #161616;
color: white;
height: 350px;
margin-top: 100px;
margin-left: 0px;
margin-right: 0px;
}
.footer h1{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 80px;
}
.footer hr{
    border: .2px solid rgb(50, 46, 46);
    margin-left: 80px;
    margin-right: 80px;
}
.nav-footer{
    display: flex;
    font-size: small;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
   margin-top: 30px;
}
.social-media-icon{
    display: flex;
    justify-content: center;
}
.social-media-icon p{
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (max-width: 576px){
    .main-body{
        margin-left: 20px;
        margin-right: 20px;
    }
    .header{
        display: flex;
        flex-direction: column;
        width: 310px;
        height: 472px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0%;
        margin: auto;
    }
    .heading{
        width: 258px;
        height: 178px;
    }
    .heading p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  
    }
    .heading h1{
        font-size: 22px;
    }
    .banner-img img{
        max-width: 233px;
        height: 280px;

    }
    .main-body{
        display: flex;
        flex-direction: column;
    }
    .blogs-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .navigation{
        background-color: transparent;
        text-align: center;
    }
    .nav-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer{
        height: auto;
    }   
}
@media only screen and (min-width: 577px) and (max-width: 992px){
    .main-body{
        display: flex;
        flex-direction: column;
    } 
    .heading h1{
        font-size: 22px;
        margin-top: 50px;
    }
    .navigation{
        background-color: transparent;
        display: flex;
        justify-content: space-evenly;
        width: auto;
        height: auto;
    }
    .nav-btn{
        width: 140px;
        margin-bottom: 30px;
    }
    .blogs-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-footer{
        flex-wrap: wrap;
        font-size: 1.5em;
    }
    .footer{
        height: auto;
    }
}